<div class="wrap">

    <div class="container">
        <h4>Add Point</h4>
        <div class="add_clear">
            <app-add-point (addPoint)="addPoint($event)"></app-add-point>
            <app-clear-points (clearPoints)="clearPoints()"></app-clear-points>   
        </div>
        
    </div>
    
    <app-upload-file></app-upload-file>
    
    <div class="container">
        <h4>List of Points</h4>
        <app-point-item 
            *ngFor="let point of points" 
            [point] = "point"
            (deletePoint)="deletePoint($event)">
        </app-point-item>
    
    </div>

    <app-squares></app-squares>
</div>
