.add_clear{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 600px;
    margin: 30px auto;
    overflow: auto;
    border: 3px solid rgb(255, 255, 255);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    background-color: #333;
}

.wrap{
    max-width: 1000px;
    margin: auto;
    overflow: auto;
    padding: 30px;
    text-align: center;
    background-color:rgb(63, 81, 181);
}