<div class="container">
    <div class="progress" *ngIf="existingFile">
        <div
        class="progress-bar progress-bar-striped bg-danger"
        attr.aria-valuenow="{{ progress }}"
        aria-valuemin="0"
        aria-valuemax="100"
        [ngStyle]="{ width: progress + '%' }">
        {{ progress }}%
        </div>
    </div>
    <div style="margin-bottom: 30px; font-weight:500; font-size:1.8rem; font-family: Lato;">
        Upload Points From File
    </div>
    
    <label class="btn btn-default">
        <input type="file" (change)="chooseFile($event)" />
    </label>
    
    <button class="btn btn-primary" [disabled]="!chosenFiles" (click)="upload()">
        Upload
    </button>
    
    <div class="alert alert-light">{{ msg }}</div>
</div>